* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
}

.wrapper {
  max-width: 1440px;
  background-color: #fff;
  margin: 0 auto;

  .container {
    max-width: 1368px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 28px 0 27px 0;

    .logo a {
      color: #000;
      font-size: 18px;
      font-family: Montserrat, sans-serif;
      line-height: 1;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }

    .nav-menu {
      display: flex;
      align-items: baseline;

      .nav-list {
        vertical-align: baseline;

        li {
          display: inline-block;
          vertical-align: top;
          line-height: 1;
          margin: 0 12px;

          a {
            display: inline-block;
            vertical-align: top;
            color: #000;
            text-decoration: none;
            cursor: pointer;
            font-size: 14px;
            line-height: 1;
            font-family: Roboto;
            font-weight: normal;
            font-style: normal;
            position: relative;

            &::after {
              background-color: #000;
              display: block;
              content: "";
              height: 1px;
              width: 0%;
              left: 50%;
              position: absolute;
              transition: width 0.3s ease-in-out;
              transform: translateX(-50%);
            }

            &:hover::after, &:focus::after {
              width: 100%;
            }

          
          }
        }
      }

      .nav-button {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        border: 2px solid #000;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 6px 33px;
        background-color: #fff;
        margin-left: 23px;

        &:hover {
          color: #ff699f;
          border-color: #ff699f;
          transition: 0.5s;
        }
      }
    }
  }

  .banner {
    display: flex;

    .banner-text {
      width: 36%;
      height: 100%;
      background-color: #fff;
      padding-right: 6%;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        color: #000;
        margin: 73px 112px 16px 0;
      }

      span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        // margin-bottom: 40px;
      }

      .info {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        margin: 40px 0;
      }

      .button-start {
        margin-bottom: 80px;
      }
    }

    .banner-img {
      width: 100%;
      background-image: url(../img/first-dance-i.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}


