@import "vars";

// /*==========  Desktop First  ==========*/

// /* Large Devices, Wide Screens */
// @media only screen and (max-width : 1200px)
// 	/**/

@media screen and (max-width: 992px) {
  .wrapper {
    header {
      padding: 0 15px;
    }
    .header-menu {
      .nav-menu {
        .nav-list {
          li {
            margin: 0 6px;
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
    .banner {
      padding: 0 15px;
      .banner-text {
        height: 550px;
        h1 {
          font-size: 56px;
        }
        span {
          font-size: 20px;
        }
        .banner-button {
          position: relative;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
      .banner-img {
        height: 550px;
      }
    }
  }
}

@media only screen and (max-width: 856px) {
  .wrapper {
    .header-menu {
      .nav-menu {
        .nav-list {
          li {
            margin: 0 6px;
            a {
              font-size: 14px;
            }
          }
        }
      }
    }
    .banner {
      .banner-text {
        padding: 36px 57px 80px 0;
        h1 {
          font-size: 47px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    .banner {
      padding: 0 0;
      flex-direction: column;
      .banner-text {
        padding: 32px 59px 0 15px;
        max-width: 100%;
        order: 1;

        h1 {
          font-size: 36px;
          max-width: 175px;
        }

        span {
          font-size: 14px;
        }

        .info {
          margin: 18px 0 24px 0;
        }

        .banner-button {
          left: 0;
          transform: translate(0px, 0px);
        }
      }
      .banner-img {
        width: 100%;
        height: 275px;
        order: 0;
      }
    }
  }
}

// /* Medium Devices, Desktops */
// @media only screen and (max-width : 992px){
//   .nav-list{
//     a{
//       font-size: 20px;
//     }
//   }
// }

/**/

// /* Small Devices, Tablets */
// @media only screen and (max-width : 768px)
// 	/**/

// /* Extra Small Devices, Phones */
// @media only screen and (max-width : 480px)
// 	/**/

// /* Custom, iPhone Retina */
// @media only screen and (max-width : 320px)
// 	/**/

// /*==========  Mobile First  ==========*/

// /* Custom, iPhone Retina */
// @media only screen and (min-width : 320px)
// 	/**/

// /* Extra Small Devices, Phones */
// @media only screen and (min-width : 480px)
// 	/**/

// /* Small Devices, Tablets */
// @media only screen and (min-width : 768px)
// 	/**/

// /* Medium Devices, Desktops */
// @media only screen and (min-width : 992px)
// 	/**/

// /* Large Devices, Wide Screens */
// @media only screen and (min-width : 1200px)
// 	/**/
