@import "vars";

@media screen and (max-width: 992px) {
  .wrapper {
    .container {
      padding: 0 15px;
    }

    .header {
      .header__list {
        li {
          margin: 0 6px;
        }
      }

      .header__link {
        font-size: 16px;
      }
    }
    .banner {
      .banner__text {
        height: auto;
        padding-bottom: 0;
        .banner__title {
          font-size: 56px;
        }
        span {
          font-size: 20px;
        }
        .banner__button {
          position: relative;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
      .banner__image {
        height: 550px;
      }
    }
  }
}

@media only screen and (max-width: 856px) {
  .wrapper {
    .header {
      .header__link {
        font-size: 14px;
      }
    }
    .banner {
      .banner__text {
        padding: 36px 57px 80px 0;
        .banner__title {
          font-size: 47px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .wrapper {

    .header {
      padding: 0 15px;
      .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 4;

        &::before,
        &::after {
          content: "";
          background: #000;
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          transition: 0.5s;
        }

        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }

        span {
          position: absolute;
          background-color: black;
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          top: 9px;
          transition: 0.5s;
        }
      }

      .header__burger.active {
        &::before {
          transform: rotate(45deg);
          top: 9px;
        }

        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
        }

        span {
          transform: scale(0);
        }
      }

      .header__menu {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        background-image: url(../img/Menu.png);
        background-size: contain;
        background-position-x: right;
        z-index: 3;
        background-repeat: no-repeat;
        border-bottom: 4px solid $pink;
        // padding: 80px 10px 20px 10px;
        padding: 40px 0 0 24px;
        transition: 0.5s;
      }

      .header__title {
        display: block;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        color: #000;
        line-height: 1;
        margin-bottom: 48px;
      }

      .header__menu.active {
        right: 0;
        overflow: scroll;
      }

      .header__list {
        display: block;

        li {
          display: block;
          margin: 0 0 40px 0;
        }
      }

      .header__link {
        font-size: 24px;
        font-weight: 900;
        font-family: Montserrat;
        line-height: 1;
      }

      .header__button {
        display: none;
      }

      .header__button-none {
        display: block;
        padding: 11px 39px 10px 42px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        border: 2px solid $pink;
        color: $pink;
        border-radius: 3px;
        background-color: #fff;

        &:hover {
          background-color: $pink;
          color: #fff;
          transition: 0.5s;
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        }
      }
    }

    .banner {
      padding: 0 0;
      flex-direction: column;
      .banner__text {
        padding: 32px 15px 0;
        max-width: 100%;
        order: 1;

        .banner__title {
          font-size: 36px;
          text-align: center;
        }

        span {
          font-size: 14px;
        }

        .banner__info {
          margin: 18px 0 24px 0;
          text-align: center;
        }
      }
      .banner__image {
        width: 100%;
        height: 275px;
        order: 0;
      }
    }

    .services{

      .services__slider{
        display: block;
      }

      .services__card{
        margin: 0 15px 0 0;
      }

    }
  }
}

@media only screen and (max-width: 595px) {
  .wrapper {
    .banner {
      .banner__text {
        padding: 32px 59px 0 16px;

        .banner__title {
          max-width: 174px;
          text-align: start;
        }

        .banner__info {
          text-align: start;
        }

        .banner__button {
          left: 0;
          transform: translate(0, 0);
        }
      }
    }
  }
}
